{% extends "projects/base.html" %}
{% block header %}
  <h1>Проекты</h1>
{% endblock header %}
{% block content %}
    <form method="GET" action="{% url 'projects:search_task' %}" >
    <input type="text" name="q" placeholder="Поиск" value="{{ request.GET.q }}" />
    <button type="submit">Поиск</button>
</form>
<ul>
{% for task in tasks %}
<li>
        <h3>
          <a href="{% url 'projects:task' task.id %}">{{ task.text }}</a>
        </h3>
</li>
{% empty %}


{% endfor %}
</ul>
<h3><a href="{% url 'projects:new_task' %}">Добавить новый проект </a></h3>
{% endblock content %}